<html>
   <head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:900px;
    width:130px;
    float:left;
    padding:35px;	      
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;	 	 
}
.cities {
    background-color:#778899;
    color:white;
    padding:10px;
    height:140px;
    width:100px;
}	
</style>
</head>

<div id="header">
<h1>VIAW</h1>

</div>

<section>
<style>
.cities {
    background-color:#778899;
    color:white;
    padding:10px;
    height:700px;
    width:1400px;
}	
</style>
</section>

<body>
<div class="cities"><br/>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/London_Thames_Sunset_panorama_-_Feb_2008.jpg" width="1000" height="300">
<h2 style="font-size:30px"> -London</h2>
<p style="font-size:18px">.London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
<p style="font-size:18px"> .Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
<p style="font-size:18px"> .London is the capital and most populous city of England and the United Kingdom. Standing on the River Thames in the south east of the island of Great Britain, London has been a major settlement for two millennia.
</br><p style="font-size:18px"> .London is a leading global city in the arts, commerce, education, entertainment, fashion, finance, healthcare, media, professional services, research and development, tourism and transportation.It is the world's largest financial centre and has the fifth or sixth largest metropolitan area GDP in the world.
</br><p style="font-size:18px"> .London is often regarded as a world cultural capital.It is the world's most-visited city as measured by international arrivalsand has the world's largest city airport system measured by passenger traffic.
</br></br>
<a href="https://www.youtube.com/watch?v=45ETZ1xvHS0" style="font-size:20px">Here is a introduction video of London.</a>  
</div> 
</body>


<p style="font-size:25px">
Coummunication
</p>

<section>
<h1 style="font-size:18px">1.SIMS Cards</h1>
<p style="font-size:17px">
It is important for the visitors to have a SIM card when they first time come to London, because they need to use google map, trainline, translation and so on. 
There are some main SIM card network which are O2, Vodafone, Giffgaff, Lebara and Three. 
There are two SIM card deals which are PAYG (Pay as you go) and SIM monthly plan.
</p>

<ul type="circle" style="font-size:17px">
  <li>O2:</li>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/60/O2.svg" align ="right" width="500" height="300">
<table border="1" cellpadding="7" style="font-size:15px">
<tr>
  <th></th>
  <th>Big Bundles</th>
  <th>Suggest SIM Monthly Plans</th>
  </tr>
<tr>
  <th>Top up (4444)</th>
  <th>Free</th>
  <th rowspan="6" align="left">
1.&#163 9 a month: 200MB data, 150 minutes and 150 texts</br>
2.&#163 12 a month: 300MB data,1500 minutes and 1500 texts</br>
3.&#163 15 a month: 2GB data, 150 minutes and 150 texts</br>
4.&#163 18 a month: 1GB data, 1000 minutes and unlimited texts</br>
5.&#163 21 a month: 2GB data, unlimited minutes and unlimited texts</br>
6.&#163 25 a month: 4GB data, unlimited minutes and unlimited texts</br>
7.&#163 31 a month: 8GB data, unlimited minutes and unlimited texts
  </th>
</tr>
<tr>
  <th>Landlines </th>
  <th>35p/min</th>
</tr>
<tr>
  <th>Mobiles</th>
  <th>35p/min</th>
</tr>
<tr>
  <th>Text message </th>
  <th>15p per message</th>
</tr>
<tr>
  <th>Data</th>
  <th>&#163 3/MB</th>
</tr>
<tr>
  <th>International calls</th>
  <th>See the<a href="https://www.o2.co.uk/shop/sim-cards/international-sim"> O2 Website</a></th>
</tr>
</table>
</br>
</br>

 <li>Vodafone:</li>
<img src="https://upload.wikimedia.org/wikipedia/en/9/95/Vodafone_logo_2017.png" align ="right" width="300" height="300">
<table border="1" cellpadding="7" style="font-size:15px">
<tr>
  <th></th>
  <th>Big Bundles</th>
  <th>Suggest SIM Monthly Plans</th>
  </tr>
<tr>
  <th>National, local and other Vodafone mobile number </th>
  <th>20p/min</th>
  <th rowspan="6" align="left">
1.	&#163 13 a month: 250MB data, 250 minutes and unlimited texts</br>
2.	&#163 15.50 a month: 500MB data, 500 minutes and unlimited texts</br>
3.	&#163 18.50 a month: 1GB data, 1000 minutes and unlimited texts</br>
4.	&#163 20.50 a month: 5GB data, 500 minutes and unlimited texts</br>
5.	&#163 21 a month: 2GB data, unlimited minutes and unlimited texts</br>
6.	&#163 25.50 a month: 4GB data, unlimited minutes and unlimited texts</br>
7.	&#163 27 a month: 10GB data, 500 minutes and unlimited texts</br>
8.	&#163 31 a month: 8GB data, unlimited minutes and texts
  </th>
</tr>
<tr>
  <th>Calls voicemail </th>
  <th>20p/min</th>
</tr>
<tr>
  <th>Text / picture message </th>
  <th>20p per massage </th>
</tr>
<tr>
  <th>Data usage </th>
  <th>20p per 5MB/ &#163 1 for 500MB</th>
</tr>
<tr>
  <th>International calls</th>
  <th>&#163 1 per minute </br> More at<a href="http://www.vodafone.co.uk/explore/costs/calling-abroad-from-the-uk/?cid=rdr-1202-01"> Vodafone Website</a></th>
</tr>
</table>
</br>
</br>


 <li>Lebara:</li>
 </ul>
<img src="https://www.netpal.co.uk/wp-content/uploads/2016/04/unlock-lebara-uk.jpg" align ="right" width="280" height="300">
<table border="1" cellpadding="7" style="font-size:15px">
<tr>
  <th>UK mobiles </th>
  <th>19p</th>
  <th>Suggest SIM Monthly Plans</th>
  </tr>
<tr>
  <th>UK Landline </th>
  <th>12p</th>
  <th rowspan="5" align="left">
1.&#163 9 a month: 1GB data, 500 minutes to UK, 500 minuets to international and 100 SMS</br>
2.&#163 13 a month: 3GB data, 500 minutes to UK, 500 minuets to international and 100 SMS</br>
3.&#163 13 a month: 4GB data, unlimited minutes to UK, 100 international minutes and 100 SMS</br>
4.&#163 18 a month: 10GB data, unlimited minutes to UK,, 100 international minutes and 100 SMS.
  </th>
</tr>
<tr>
  <th>UK SMS </th>
  <th>19p</th>
</tr>
<tr>
  <th>UK picture message  </th>
  <th>45p</th>
</tr>
<tr>
  <th>UK video message </th>
  <th>45p</th>
</tr>
<tr>
  <th>International calls</th>
  <th> See<a href="https://mobile.lebara.com/gb/en/international-plans/c/payg-international"> Lebara Website</a></th>
</tr>
</table>
</br>
</br>

<section>
<h2 style="font-size:18px"> 2. Moble Wi-Fi:</h2>
<p style="font-size:17px">
Moble WiFi is a device that provide an internet without connecting wires. 
It can meet the needs of the visitors who wants to use internet in anytime and anywhere. 
The WiFi can be shared among nearby people, the size is really small which is easy to put it in a bag.</br> 
We have three main portable WiFi providers which are China Telecom, China Mobile and China Unicom. 
If you want to borrow, we have many collecting points in London, go there and ask the staff in reception.
<br/>
The tables below show how the portable WiFi is charged for each provider and give you some advice plan:
</p>
<table border="1" cellpadding="20" style="font-size:15px">
<tr>
  <th colspan="3">HUAWEI</th>
  <th colspan="3">China Mobile</th>
  <th colspan="3">China Unicom</th>
</tr>
<tr>
  <td>1.&#163 0.5 per hour, unlimited data</td>
  <td>2.&#163 3 per day, unlimited data</td>
  <td>3.&#163 30 per month, unlimited data</td>
  <td>1.&#163 2 per day, 4GB data</td>
  <td>2.&#163 4 per day, 8GB data</td>
  <td>3.&#163 25 per month, unlimited data</td>
  <td>1.&#163 10 a month, 8GB data</td>
  <td>2.&#163 15 a month, 12GB data</td>
  <td>3.&#163 20 a month, unlimited data</td>
</tr>
</table>
</section>
</br>

<p style="font-size:25px">
Leiture Time and Entertainments
</p>
<h2>1. Restaurants in London</h2>

<ul type="circle" style="font-size:18px">
  <li><a href="https://duckandwaffle.com">Duck & Waffle</a></li>
<p style="font-size:18px">
Duck & Waffle offers a playful take on traditional British cuisine with broad European influences emphasizing local, rustic, seasonal and sustainable ingredients. 
</br>Dishes are designed for sampling and sharing and are complemented by an iconoclastic cocktail experience served in a vibrant atmosphere that welcomes guests 24/7.
</br>Breakfast, brunch, late night, desserts: &#8243all day&#8243 dining is redefined at Duck & Waffle.
</p>

</br></br>
  <li><a href="https://www.fortnumandmason.com">Fortnum and Mason</a></li>
<p style="font-size:18px">
Fortnum & Mason (colloquially often shortened to just "Fortnum's") is an upmarket department store in Piccadilly, London, with additional stores at St Pancras railway station and Heathrow Airport in London, as well as Dubai and various stockists worldwide.
</br> Its headquarters are located at 181 Piccadilly, where it was established in 1707 by William Fortnum and Hugh Mason. Today, it is privately owned by Wittington Investments Ltd.
</p>

</br></br>
  <li><a href="https://flatironsteak.co.uk">Flat Iron</a></li>
<p style="font-size:18px">
 Lovely food and staff. It is located on an energetic street in Soho.
  You have only one option, the steak! And thank God is so nice. 
  </br>The sauces are great and the sides as well.Great option in London for meat lovers. 
</p>



<h3>2. Tourist attractions in London</h3>
 <li>Big Ben (The Elizabeth Tower)</li>

<p style="font-size:18px">
The name Big Ben is often used to describe the tower, the clock and the bell but the name was first given to the Great Bell.</br>

The Elizabeth Tower, which stands at the north end of the Houses of Parliament, was completed in 1859 and the Great Clock started on 31 May, with the Great Bell's strikes heard for the first time on 11 July and the quarter bells first chimed on 7 September.
</br>
Elizabeth Tower stands at over 96 metres (105yrds) tall, with 334 steps to climb up to the belfry and 399 steps to the Ayrton Light at the very top of the tower.
</br><img src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2016/04/26/15/bigben2604a.jpg?w968h681" align ="right" width="400" height="240">

Type: Clock tower</br>
Architectural style: Gothic Revival</br>
Location: Westminster, London, England, UK</br>
Completed: 31 May 1859; 158 years ago</br>
Height: 96 metres (315 ft)</br>
Floor count: 11</br>
Architect: Augustus Pugin
</p>
</br></br>
<li><a href="https://www.londoneye.com">The London eye</a></li>
<p style="font-size:19px">Tickets and Prices</p>
<img src="https://www.visitbritainshop.com/world/~/media/91f5c92f5c6b4894911c474e23f5849a.ashx?as=0&h=349&w=620" align ="right" width="400" height="240">
<table border="1" cellpadding="7" style="font-size:15px">
<tr>
 <th>Standard Tickets </th>
 <th>From &#163 22.95</th>
 <th>Mesmerising 360-degree views of the capital. Book now and save up to 15%, now including our new family ticket!</th>
</tr>
<tr>
 <th>Fast Track </th>
 <th>From &#163 33.30</th>
 <th>Why wait? Jump the queues and get to the panoramic views faster. Book now and save 10%</th>
</tr>
<tr>
 <th>VIP Experiences </th>
 <th>From &#163 36.90</th>
 <th>Make the views extra special by adding champagne, wine or chocolate. Limited availability, book now and save up to 10%</th>
</tr>
<tr>
 <th colspan="6" align="center"> More information please visiting the website</th>
</tr>
</table>
</br>

</br></br>

<li><a href="http://www.britishmuseum.org">The British museum</a></li>
<p style="font-size:18px">
The British Museum was founded in 1753, the first national public museum in the world. From the beginning it granted free admission to all 'studious and curious persons'. Visitor numbers have grown from around 5,000 a year in the eighteenth century to nearly 6 million today. 
</br>
The Museum has 10 curatorial and research departments:</br>
<img src="http://www.museumwnf.org/images/full/museums/uk/1/1.jpg" align ="right" width="400" height="240">

Africa, Oceania and the Americas </br>
Ancient Egypt and Sudan </br>
Asia </br>
Britain, Europe and Prehistory </br>
Coins and Medals </br>
Conservation and scientific</br>
research </br>
Greece and Rome </br>
Middle East </br>
Portable Antiquities and Treasure </br>
Prints and Drawings
</p>

</br>
<h4>3. Club in London</h4>
<li>Fabric</li>
<p style="font-size:18px">
Experience one of the capital's most famous clubbing spots with a visit to Fabric in Farringdon. 
The legendary London club features three rooms, including one with a "bodysonic" dancefloor, and has hosted some of the world's biggest DJs. 
</br>You'll find electro, techno and disco music, as well as drum'n'bass and grime, pumping from the speakers.
 </br>Address: 77A Charterhouse St, Clerkenwell, London EC1M 6HJ.</br>
Opening time: 23:00 on Friday.</br>
Tel: 020 7336 8898.
 </p>

<li>Ministry of Sound</li>
<p style="font-size:18px">
Join the revellers at Ministry of Sound, which has been entertaining Londoners for more than 25 years and has spawning a record label in the process. One of the most popular clubs in London, it boasts four bars, four dancefloors and five distinctive rooms, and still draws big names such as Paul Oakenfold. 
</br>Book tickets in advance, and arrive early to avoid long queues.
 </br>Address: 103 Gaunt St, London SE1 6DP.</br>
 Opening time: 22:30 on Friday.</br>
Tel: 020 7740 8600.
</p>

<li> <a href="https://www.visitlondon.com/things-to-do/nightlife/club/top-10-london-clubs">Top 10 London Clubs</a></li>
</ul>





<p style="font-size:25px">
Support and Services
</p>




<section>
<h1> <a href="https://www.google.co.uk/maps/@51.4821361,-3.1638888,14.74z">1. Google Map </a></h1>
<p style="font-size:20px">
<img src="https://i.imgur.com/H5amsah.png" align ="left" width="300" height="200">
Google Maps is a web mapping service developed by Google. 
It offers satellite imagery, street maps, 360&#176 panoramic views of streets, real-time traffic conditions, 
and route planning for traveling by foot, car, bicycle, or public transportation.</br>
It is available as a mobile app for both the Android and iOS mobile operating systems.
</p>
</br></br></br></br></br></br>
<h2> 2. Embassies (Diplomatic Mission) </h2>
<p style="font-size:20px">
Here is the <a href="https://www.gov.uk/government/publications/foreign-embassies-in-the-uk">location of the main foreign embassies</a> in UK and the way to contact.</br>
Above link is guidance about Foreign embassies in the UK. The London Diplomatic List contains the addresses and contact details of all embassies and High Commissions.</br>
A diplomatic mission or foreign mission is a group of people from one state or an organisation present in another state to represent the sending state/organisation officially in the receiving state. </br>
If you lost your pastport or need some help from your own state, you could contact them. </br>
Details: The London Diplomatic List contains the addresses and contact details of all embassies and High Commissions. 
It also lists the names of the Heads of Mission and their spouses (including the date of their appointment).</br>
We also provide the following information:
<ul type="square" style="font-size:20px">
  <li> A list of Heads of Mission in order of precedence, including the date of appointment and details of the role.</li>
  <li> A list of Consular Offices outside London in cities such as Edinburgh, Cardiff, Manchester and Birmingham.</li>
</ul>
<p style="font-size:20px">
By click this link shows different embassy could be found by the google map, including Website and the direction. </br>
<a href="https://www.google.co.uk/search?q=embassy+in+uk&npsic=0&rflfq=1&rlha=0&rllag=51490652,-162536,2280&tbm=lcl&ved=0ahUKEwjCpf7qq_7ZAhVKDcAKHfvkDnoQtgMIOQ&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2&rldoc=1#rlfi=hd:;si:;mv:!1m3!1d34244.076643010645!2d-0.16829670000000002!3d51.514054949999995!2m3!1f0!2f0!3f0!3m2!1i347!2i331!4f13.1 "> Embassy</a>
<p style="font-size:20px">
Also, there are some emergency phone number when you are in danger:</br>
</p>

<p style="font-size:20px"><br/>
Ambulance: 999 or 112</br>
</br>
Fire: 999 or 112</br>
</br>
Police:  999 or 112</br>
</br>
Gas emergency: 0800 111 999</br>
</br>
NHS Direct (24 hour health helpline): 0845 4647 </br>
</p>
</section>

<p style="font-size:20px">
If you have any further queries or suggestions, please do not hesitate to contact us.</br>
</p>









<div id="footer">
Director: Jianwei Lin
<br/>
Secretor: Jiahui Dong
<br/>
Code: Xuerui Zhao, Mengni Yu
<br/>
Email: linj@cardiff.ac.uk
</div>
</html>





