<html>
   <head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
}
#footer {
    background-color:white;
    color:black;
    clear:both;
    text-align:center;
    padding:10px;	 	 
}
</style>
</head>

<div id="header">
<h1>Transpotation</h1>
</div>

<p style="font-size:20px">
As you can see, you can rent any kind of car to travel in London.
There are some following different options and cars to choose.
</p>

<ol type="I">

<li style="font-size:25px">Cars</li>
<ul type="disc" style="font-size:20px">

</br>
<li>2-4 seats cars:</li>
<p style="font-size:19px">
<img src="http://img1.quimg.com/upload/201801/1515651884315_thumb.jpg" align ="left" width="250" height="150">
Price:</br>
1. &#163 10 per day</br>
2. &#163 55 per week</br>
3. &#163 20 per day ( insurance included)</br>
4. &#163 100 per week (insurance included)</br>
</p>
</br> </br> </br>

<li>4-6 seats cars:</li>
<p style="font-size:19px">
<img src="https://4.imimg.com/data4/KK/HX/MY-6073471/car-and-bus-rental-service-500x500.jpg" align ="left" width="250" height="150">
Price:</br>
1. &#163 20 per day</br>
2. &#163 100 per week</br>
3. &#163 35 per day ( insurance included)</br>
4. &#163 175 per week (insurance included)</br>

</p>
</br> </br> </br>

<li>7+ seats mini bus/coach:</li>
<p style="font-size:19px">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdabvMOECxmLEBSRHmNNBpAE9f8_fdKn7ZKwcQmsD6UpdBVzLk" align ="left" width="250" height="150">
Price:</br>
1. &#163 40 per day</br>
2. &#163 199 per week</br>
3. &#163 50 per day ( insurance included)</br>
4. &#163 250 per week (insurance included)</br>
</p>
</ul>
</br> </br> </br> </br>

<li style="font-size:25px">Buses</li>  
<p style="font-size:17px">
<table border="1" cellpadding="2" style="font-size:20px">
<tr>
 <th>Method</th>
 <th>  Single </th>
 <th>Daily Cap</th>
 <th>Weekly Cap</th>
</tr>
<tr>
 <th>Pay as you go</th>
 <th>&#163 1.50</th>
 <th>&#163 4.50</th>
 <th>&#163 21.29</th>
</tr>
</table>
</br></br>
<table  border="1" cellpadding="2" style="font-size:20px">
<tr>
 <th>Method</th>
<th> One Day </th>
 <th>Weekly</th>
 <th>Monthly</th>
 <th>Annual</th>
</tr>
<tr>
 <th>Bus and Tram Pass</th>
 <th>&#163 5</th>
 <th>&#163 21.20</th>
 <th>&#163 81.50</th>
 <th>&#163 848</th>
</tr>
</table>
</br></br>
<table  border="1" cellpadding="3" style="font-size:20px">
<tr>
 <th>Ages</th>
 <th>Single</th>
 <th>Daily</th>
</tr>
<tr>
 <th>18+ students</th>
 <th>&#163 1.50</th>
 <th>&#163 4.50</th>
</tr>
<tr>
 <th>16 and under 16</th>
 <th>&#163 0.75</th>
 <th>&#163 2.25</th>
</tr>
</table>
</br>
<p style="font-size:20px">
More information about <a href="https://oyster.tfl.gov.uk/oyster/entry.do">Oyster Card</a>.
</br>More information about <a href="https://tfl.gov.uk/fares-and-payments/fares/bus-and-tram#on-this-page-1">buses</a>.
</p>
</br>

<li style="font-size:25px">Undergrounds</li>  
<p style="font-size:19px">
<a href="https://tfl.gov.uk/modes/tube/">
<img src="https://tfl.gov.uk/cdn/static/cms/images/tube-map.gif" align ="left" width="600" height="400"></a>
</br></br>
You can travel underground and train by using Oyster card or contactless.</br></br>
You can also buy paper tickets for single journeys. </br></br>
You also can have a national railcard to get more discount on underground and train. 
</br></br>More information: <a href=::"http://www.nationalrail.co.uk">National Rail </a>, or click the map to the London underground website directly. 

</p>
</br> </br> </br> </br> </br> </br> </br> </br>
<img src="https://png.icons8.com/ios/1600/uber.png" align ="right" width="300" height="300">

</br> </br> </br></br>
  
<li style="font-size:25px">Taxi</li>
</ol>
<ul type="circle" style="font-size:20px">
 <li> Uber</li>
<p style="font-size:19px">
In-app support: just download Uber app.
</br>Phone support: 8001013611 or (65) 31584255</br>
More information visit: <a href="https://www.uber.com/en-GB/">https://www.uber.com </a>
</p>
</br>
 <li>Yellow London</li>
 <img src="https://westernizer.ca/wp-content/uploads/2015/05/397_yellow-taxi_logo.png" align ="right" width="350" height="210">
<p style="font-size:19px">
Address: Yellow London Taxi, 1540 Fanshawe Park Road West, N6H 5L8</br>
Phone: (519)6571111</br>
Email: contactus@yellowlondontaxi.ca</br>
More information visit: <a href="http://www.yellowlondontaxi.ca">www.yellowlondontaxi.ca </a>
</p>
</ul>


  
  
  
<div id="footer" style="font-size:20px">
<a href="/Users/katri/Documents/viaw.html">Back to Home Page</a>
</div>

</html>